<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="defaultPredictedFile" value="predictedStockList" />
    <add key="defaultTestFile" value="testStockList" />
    <add key="defaultKnownFile" value="knownStockList" />
    <add key="defaultStocksDir" value="stocks" />
    <add key="defaultPredictionsDir" value="predictions" />
    <add key="MovingAverageDir" value="MovingAverage" />
    <add key="LinearRegressionDir" value="LinearRegression" />
    <add key="KNearestDir" value="KNearest" />
    <add key="LSTMDir" value="LSTM" />
  </appSettings>
</configuration>